//-----> $TIENDA

.tienda {
    display: flex;
    width: 100vw;
    &__titulo {
        margin: 0;
        padding: 12px;
        font-size: 3.6vw;
    }
    &__productos {
        display: flex;
        flex-direction: column;
    }
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 10% 0px 10%;
    &__imagen {
        width: 100%;
    }
    &__titulo {
        margin-top: 18px;
        text-align: center;
        font-size: 2.4vw;
    }
    &__descripcion {
        font-size: 1.6vw;
        text-align: center;
    }
    :last-child {
        padding-bottom: 12px;
    }
}

//-----> $POLITICAS

.politicas {
    margin: 0;
    padding: 12px;
    padding-right: 20%;
    font-size: 18px;
}

.iniciar-sesion {
    background-color: #b3b3b3;
    padding-top: 12px;
    padding-bottom: 12px;
}

//-----> $INICIO SESION

.sesion {
    width: 300px;
    background-color: white;
    margin: auto;
    padding: 12px;
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 4px grey;
    &__titulo {
        font-size: 30px;
        padding-bottom: 12px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__datos {
        width: 230px;
        height: 40px;
        margin-bottom: 12px;
        border: 2px $orange solid;
        border-radius: 12px;
    }
    &__boton {
        width: 150px;
        height: 30px;
        background-color: $orange;
        border-radius: 12px;
        border-color: transparent;
        color: white;
        align-self: center;
    }
    &__login {
        margin-bottom: 6px;
        margin-top: 6px;
    }
}

//-----> $PERFIL

.perfil {
    padding: 12px 5%;
    width: 100vw;
    &__todo {
        display: flex;
        flex-direction: column;
    }
    &__contenedor {
        display: flex;
        width: 100%;
    }
    &__primero {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 12px;
        justify-content: space-between;
        align-items: flex-end;
        &--texto {
            text-align: end;
            &-perfil {
                font-size: 2.4vw;
            }
            &-informacion {
                font-size: 1.8vw;
                margin-top: 18px;
            }
            &-opciones {
                font-size: 1.8vw;
                margin-top: 12px;
            }
        }
    }
    &__segundo {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        &--informacion {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
        &--datos {
            width: 100%;
            margin-right: 12px;
            margin-top: 18px;
            height: 40px;
            border-radius: 12px;
            border: 2px $orange solid;
        }
        &--direccion {
            flex: 0 0 calc(100% - 12px);
        }
        &--avatar {
            display: inline-block;
            width: 12vw;
            height: 12vw;
            background-color: $light-green;
            border: solid 5px white;
            border-radius: 50%;
        }
        &--botones {
            display: flex;
            justify-content: space-around;
            margin-top: 24px;
        }
    }
    &__boton {
        width: 20%;
        height: 4.2vw;
        background-color: $orange;
        text-align: center;
        border-radius: 16px;
        border-color: transparent;
        color: white;
        font-size: 1.8vw;
    }
}

//-----> $MEDIAQUERIES

@media all and (max-width: 700px) {
    .tienda {
        &__titulo {
            font-size: 6vw;
        }
    }
    .perfil {
        &__contenedor {
            flex-direction: column;

        }
        &__primero {
            align-items: flex-start;
            &--texto {
                &-informacion {
                    display: none;
                }
                &-opciones {
                    display: none;
                }
                &-perfil {
                    font-size: 24px;
                    margin-bottom: 24px;
                }
            }
        }
        &__segundo {

            &--datos {
                flex: 0 0 calc(100% - 16px);
            }
            &--avatar {
                width: 150px;
                height: 150px;
            }
            &--botones {
                flex-direction: column;
            }
        }
        &__boton {
            flex: 0 0 calc(100% - 16px);
            width: 80%;
            font-size: 12px;
            margin-bottom: 12px;
            padding: 12px 0px;
        }
    }
}

@media all and (max-width: 500px) {
    .productos {
        justify-content: space-around;
        &__titulo {
            font-size: 6vw;
        }
        &__descripcion {
            font-size: 4.8vw;
            padding-bottom: 12px;
            padding-top: 6px;
        }
    }
    .tienda {
        &__titulo {
            font-size: 7.2vw;
        }
    }
    .productos:last-child {
        padding-top: 0;
    }
    .grid_cell--33 {
        flex: 0 0 calc(100% - 16px);
    }
    .politicas {
        font-size: 4.8vw;
    }
}


