//-----> $COLORS

// 1EC1C1 8CBDBF 7293A0 4D6272

$blue-raf-dark:     #1EC1C1;
$blue-raf-standard: #DDE4E9;
$grey:              #333333;
$black:             #000000;
$grey-hover:        #4D6272;

//-----> $TYPOGRAPHY // $FONTS

$cormorant: Cormorant Garamond, serif;
$lato:      Lato, serif;
$font-size: 12;
$font-weight: 100;
$padding-space: 5;
$margin-space: 5;

.cormorant {
    font-family: $cormorant;
}

.lato {
    font-family: $lato;
}

.center-text {
    text-align: center;
}
 
//-----> $SPACE

$unit: 6px;
$space: $unit * 2;
$space--medium: $space * 1.5;
$padding: $unit;
$pagemaxwidth: 2048px;
$pageminwidth: 100px;
$grid_cell: 5;


/*------------------------------------*\
    $BUCLE COLORS
\*------------------------------------*/

$brand-colors: (
'blue-raf-dark':    $blue-raf-dark,
'blue-raf':         $blue-raf-standard,
'grey':             $grey,
'black':            $black
);

@each $color-name, $value in $brand-colors {
    .color-#{$color-name} {
        color: $value;
    }
    .bg-color-#{$color-name} {
        background-color: $value;
        border-radius: 1rem;
    }
}

/*------------------------------------*\
    $BUCLE FONT_SIZE
\*------------------------------------*/

@while $font-size <= 36 {
    .font_size--#{$font-size} {
        font-size: ($font-size * 1px);
    }

    $font-size: $font-size + 6;
}

/*------------------------------------*\
    $BUCLE FONT_WEIGHT
\*------------------------------------*/

@while $font-weight <= 900 {
    .font_weight--#{$font-weight} {
        font-weight: ($font-weight * 1);
    }

    $font-weight: $font-weight + 100;
}
 
/*------------------------------------*\
    $BUCLE PADDING-SPACE
\*------------------------------------*/


@while $padding-space <= 20 {
    .padding_space--#{$padding-space} {
        padding-right: ($padding-space * 1%);
        padding-left: ($padding-space * 1%);
    }

    $padding-space: $padding-space + 5;
}

/*------------------------------------*\
    $BUCLE GRID_CELL
\*------------------------------------*/

@while $grid_cell <= 100{
    .grid_cell--#{$grid_cell} {
        flex: 0 0 calc(#{$grid_cell * 1%} - 16px);
        margin: 0 0px;
    }
    $grid_cell: $grid_cell + 5;
}

/*------------------------------------*\
    $BUCLE MARGIN
\*------------------------------------*/

@while $margin-space <= 20 {
    .margin_space--#{$margin-space} {
        margin-right: ($margin-space * 1%);
        margin-left: ($margin-space * 1%);
    }

    $margin-space: $margin-space + 5;
}

/*------------------------------------*\
    $MEDIA QUERY BODY
\*------------------------------------*/

@media all and (min-width: 700px) {
    body {
        flex-direction: row;
        padding: 2%;
        height: 100%;
    }
    html {
        height: 100%;
    }
}